.model_select_screen_container {
    align: center middle;
}

.model_select_screen_center {
    width: 100%;
    height: 100%;
}

.model_select_screen_vertical {
    width: auto;
    height: 100%;
    align: center middle;
}