.main-container {
    width: 100%;
    height: 100%;
    background: transparent;
    align-vertical: top;
}

.header {
    width: 100%;
    height: auto;
    padding: 1 0;
    background: transparent;
    color: $text;
    text-align: center;
    text-style: bold;
    margin: 0 0 2 0;
}

.messages-center {
    width: 100%;
    height: 1fr;
}